<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="QABattle-UI" parallel="tests" thread-count="3">

    <test name="Authentication">
        <classes>
            <class name="AuthenticationTests" />
        </classes>
    </test>

    <test name="Client Information">
        <classes>
            <class name="ClientTests" />
            <class name="AdvertisersTests" />
            <class name="PublishersTests" />
            <class name="TopClientsTests" />
        </classes>
    </test>

    <test name="User profile">
        <classes>
            <class name="UserProfileTests" />
        </classes>
    </test>
    
    <listeners>
        <listener class-name="ui.listeners.PrintNameListener"></listener>
    </listeners>

</suite>
